@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-sans:
    var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-open-sans);
  --font-inter: var(--font-inter);
  --font-space: var(--font-space-grotesk);
  --color-blue: #1b1464;
  --color-lightblue: #0088ff;
  --color-cta: #ee5a24;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  max-width: 2048px;
  margin: 0 auto 0 auto;
}

h1,
h2 {
  font-family: var(--font-inter);
  font-weight: 600; /* semibold */
   color: var(--color-blue);
}

h1 {
  font-size: 1.875rem;
  line-height: calc(2 / 1.5);
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem; /*text-2-xl*/
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

p {
  color: var(--color-blue);
}

/* burger menu */
/* Navbar */
.burgermenu {
  width: 40px;
  height: 30px;
  position: relative;
  margin: 1rem;
  margin-right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.burgermenu > span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
}

span:nth-child(1) {
  top: 0px;
}

span:nth-child(2) {
  top: 10px;
}

span:nth-child(3) {
  top: 20px;
}

.top.open {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.middle.open {
  opacity: 0;
  left: -60px;
}

.bottom.open {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
